* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.remove {
    display: none;
}

.active {
    display: block;
}

.not-active {
    display: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

button {
    width: 200px;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 1rem;
    margin: 0.5rem auto;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
